
.bigblue {color:blue; font-size: 30px; font-weight: bold;}
.greytext {color:grey;}
.greenitalic {color:green; font-size: 8px;}
.rightorange {color:orange; text-align:right;}
.pinktahoma {color:pink; text-align:justify; font-family:Tahoma;}
.underlinedpurple {color:purple;text-decoration:underline; font-family: sans-serif,roboto, Helvetica,;}
.yellowbold {background-color: yellow; font-weight: bold; font-family: comic sans ms,comic sans, cursive; line-height: 25px;}