.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width:480px) {
  .container {
    display: flex;
  }
}
.container {
  display: flex;
  min-width: 480px;
  flex-direction: column;
  justify-content: space-evenly;
}
  h1 {
    font-family: Julius Sans One; font-size: 50px;
  }
  @media  (min-width: 480px) {
    h1,h4,h4 {
    font-size: 20px;
    }
  }
    @media (min-width: 480px) {
      .body {
       font-size: 14px;
       color:  #FFF;
       background-color: #3D3B8E;
       padding: 1em;
      }
    }
  @media (min-width:961px) {
    h1,h4,h4 {
      font-size: 50px;
    }
  }
  @media (min-width:961px) {
    .body {
      font-size: 26px;
      background-color: #B0E298;
      color: #000;
      padding: 1em;
    }
  }
  
  q {  
    font-family: Julius Sans One, sans-serif;
  }
  .body {
    font-family: Cormorant Garamond, serif;
  }
  .video {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
  }
  .p1 {
    text-align: justify;
  }
